<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WeatherAPI" value="http://api.openweathermap.org"/>
    <add key="WeatherAPIKeyCode" value="aa69195559bd4f88d79f9aadeb77a8f6"/>
    <add key="SourceFilePath" value="D:\source"/>
    <add key="DestinationPath" value="D:\destination"/>
  </appSettings>
</configuration>


